body{
   background-image: url("vidyasagar university.png"); 
        width: 100%;


  } 
  p{
    text-decoration-color: brown;
  }
  
  table{

    color:rgb(3, 3, 3); 
    font-size: 15px; 
    font-style: normal;
    font-weight: bold;
    padding: 20px 25px;
    background-color: rgb(58, 115, 2);
   /* background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */ 
    border-collapse: collapse; 
    border: 4px solid #000000;
    border-style: inset;

   }
h1{      
    text-align: center;
    color:black;
  }

    input[type=text],[type=text],[type=email],[type=tel],[type=number], select {
    width: 100%;
    padding: 8px 12px;
    margin: 5px 0;
    box-sizing: border-box;
  }
    input[type=submit],input[type=reset]{
    width: 15%;
    padding: 8px 12px;
    margin: 5px 0;
    box-sizing: border-box;
    background-color:green; 

    }
   /* table{
  font-family: Calibri; 
  color:white; 
  font-size: 11pt; 
  font-style: normal;
  font-weight: bold;
   
  background-color: SlateBlue; 
  border-collapse: collapse; 
  border: 2px solid navy
}
table.inner{
  border: 0px
}*/